
= "I know how to do 2 + 2 in ruby: #{2 + 2}, which is why I am smart enough to learn mailers"
= "Is it creepy that I know you're name is #{@user.name}"
= "Hey, thanks for signing up with Ativa. Just so you are aware, you signed up with #{@user.email}."